$colorText: #f16d7f;
$fontFamily: Lato;
@mixin alight__beetwen {
    align-items: center;
    justify-content: space-between;
}
@mixin alight__end {
    align-items: center;
    justify-content: end;
}
@mixin flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin footer__box {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    background-position: top;
    text-align: center;
    flex-direction: column;
}
details {
    summary {
        display: block;
        cursor: pointer;
        ::-webkit-details-marker {
            display: none;
        }
    }
}
button {
    cursor: pointer;
}
label {
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}
/*_______________index________________*/
.header {
    background-color: black;
    padding: 19px 0;

    .heading {
        display: flex;
        @include alight__beetwen();
        .logo {
            transition: all 2s 0s ease;
            &:hover {
                transform: rotateY(380deg);
            }
        }
        .left {
            & > img {
                margin-left: 41px;
            }
        }
        .right {
            display: flex;
        }
        .right > a {
            &:not(:last-child) {
                margin-right: 33px;
            }
            &:first-child {
                position: relative;
            }
        }
        .menu {
            box-sizing: border-box;

            margin-right: 33px;
            z-index: 2;
            font-size: 14px;
            line-height: 17px;
            position: relative;
            #menu {
                display: none;
                &:checked ~ .menu__nav {
                    display: block;
                }
                &:not(:checked) ~ .menu__nav {
                    display: none;
                }
            }
            &__nav {
                width: 232px;
                position: absolute;
                height: calc(100vh - 80px);
                background: #ffffff;
                top: 60px;
                right: -344px;
                padding: 20px;
                overflow-y: scroll;
                & div {
                    position: relative;
                    & label {
                        position: absolute;
                        right: -13px;
                        top: -13px;
                    }
                    & ul {
                        list-style-type: none;
                    }
                    & h2 {
                        padding-left: 14px;
                        margin-bottom: 24px;
                        font-size: 14px;
                        line-height: 17px;
                        font-family: $fontFamily;
                    }
                    & h3 {
                        margin: 13px 0;
                        color: $colorText;
                        font-size: 14px;
                        line-height: 17px;
                        font-family: $fontFamily;
                        padding-left: 14px;
                    }
                    & ul > li {
                        padding-left: 34px;
                        &:not(:last-child) {
                            margin-bottom: 11px;
                        }

                        & > a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
.banner {
    background-color: #f1e4e6;
    .under__header {
        background: url(img/men.png) no-repeat left;
        display: flex;
        height: calc(100vh - 80px);
        // background-size: calc(100vh - 15px);
        background-size: contain;
        @include alight__end();

        & h1 {
            padding-left: 20px;
            border-left: 12px solid #f16d7f;
            text-transform: uppercase;
            max-width: 425px;
            font-size: 30px;
            margin-right: 99px;
            & > b {
                font-weight: 900;
                font-size: 48px;
                line-height: 47px;
            }
            & > span {
                color: $colorText;
            }
        }
    }
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
    margin-bottom: 96px;
}
.card__box {
    &:not(:last-child) {
        width: 32%;
        height: 260px;
    }
}
.card__box {
    @include flex__center();
    margin-top: 30px;
    width: 100%;
    height: 180px;
    & p {
        text-align: center;
        font-family: $fontFamily;
        font-size: 16px;
        line-height: 19px;
        color: #f1e4e6;
        width: 157px;
        & span {
            color: $colorText;
        }
    }
    &--woman {
        background: url(img/back_font.png), url(img/for_women.png);
    }
    &--man {
        background: url(img/back_font.png), url(img/for_men.png);
    }
    &--kids {
        background: url(img/back_font.png), url(img/for_kids.png);
    }
    &--accesories {
        background: url(img/back_font.png), url(img/accesories.png);
        width: 100%;
    }
}

.center__block {
    .future {
        & > h2 {
            margin: 0 auto;
            font-family: $fontFamily;
            font-size: 30px;
            line-height: 36px;
            color: #222222;
            text-align: center;
        }
        & > p {
            margin: 6px auto;
            font-size: 14px;
            line-height: 17px;
            color: #9f9f9f;
            text-align: center;
        }
    }
    .product {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 48px;

        &__box {
            width: 360px;
            height: 581px;
            left: 14.38%;
            right: 63.12%;
            top: 41.17%;
            bottom: 47.86%;
            background: #f8f8f8;
            box-sizing: border-box;
            margin-bottom: 30px;
            .item {
                position: relative;
                background: rgba(58, 56, 56, 0.86);
                img {
                    display: block;
                }
                a {
                    opacity: 0;
                    font-family: $fontFamily;
                    color: #ffffff;
                    top: 188px;
                    left: 111px;
                    border: 1px solid #ffffff;
                    box-sizing: border-box;
                    padding: 12px 0 12px 50px;
                    position: absolute;
                    text-decoration: none;
                    width: 138px;
                    height: 43px;
                    font-size: 14px;
                    line-height: 17px;
                    &::before {
                        position: absolute;
                        content: url(img/Cart.svg);
                        left: 13px;
                        top: 10px;
                    }
                }
                &:hover img {
                    opacity: 0.4;
                }
                &:hover a {
                    opacity: 1;
                }
            }

            & h2 {
                margin-left: 18px;
                margin-top: 25px;
                font-family: $fontFamily;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }
            & p {
                margin-top: 12px;
                margin-right: 28px;
                margin-left: 18px;
                font-family: $fontFamily;
                font-style: normal;
                font-size: 14px;
                line-height: 17px;
                color: #5d5d5d;
            }
            & span {
                display: block;
                margin-top: 18px;
                margin-left: 18px;
                font-family: $fontFamily;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #f16d7f;
            }
        }
    }
    .browse {
        text-align: center;
        transition: 2s;
        &:hover {
            transform: rotateX(360deg);
        }
        & a {
            text-decoration: none;
            color: $colorText;
            padding: 14px 38px;
            background: white;
            border: 1px solid $colorText;
            &:hover {
                background: $colorText;
                color: #ffffff;
            }
        }
    }
}
.footer {
    max-width: 1600px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 341px;
    margin-top: 95px;
    background-color: #222224;

    &__box {
        width: 340px;
        height: 134px;
        &--box1 {
            background: url(img/Delivery_car.svg);
            @include footer__box();
        }
        &--box2 {
            background: url(img/discount.svg);
            @include footer__box();
        }
        &--box3 {
            background: url(img/Corona.svg);
            @include footer__box();
        }
    }
    & h2 {
        font-family: $fontFamily;
        font-size: 19.96px;
        line-height: 24px;
        color: #fbfbfb;
        margin-top: 55px;
    }
    & p {
        margin-top: 16px;
        font-weight: 300;
        font-size: 13px;
        line-height: 17px;
        color: #fbfbfb;
        font-family: $fontFamily;
    }
    &__center {
        max-width: 1600px;
        display: flex;
        background: url(img/footer_blur.png), url(img/Footer_font.png);
        height: 448px;
        align-items: center;
        justify-content: space-around;
    }
    &__right {
        width: 359.45px;
        height: 225px;
        @include flex__center();
        flex-direction: column;

        & > img {
            margin: 0 auto;
            align-items: center;
            transition: all 0.9s 0s ease;
            &:hover {
                transform: scale(1.5);
            }
        }

        p {
            width: 359px;
            font-family: $fontFamily;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
            margin-top: 24px;
        }
    }
    &__subscribe {
        align-content: center;
        max-width: 557px;
        height: 142px;
        p {
            width: 557px;
            text-align: center;
            font-size: 24px;
            line-height: 167.2%;
            color: #222224;
            font-family: $fontFamily;
        }
        form {
            margin-top: 32px;
            display: flex;
            justify-content: center;
        }
        input {
            border: none;
            opacity: 0.67;
            color: #222224;
            font-size: 14px;
            line-height: 17px;
            padding-left: 22px;
            width: 256px;
            height: 49px;
            background-color: #e1e1e1;
            border-radius: 18px 0 0 18px;
        }
        button {
            background-color: #f16d7f;
            color: #ffffff;
            align-items: center;
            text-align: center;
            font-size: 14px;
            line-height: 17px;
            border: 0;
            width: 100px;
            height: 49px;
            border-radius: 0 18px 18px 0;
        }
    }
    &__bar {
        max-width: 1600px;
        display: flex;
        justify-content: space-around;

        background: #222224;
        p {
            margin: 30px 0;
            font-size: 16px;
            line-height: 19px;
            font-family: $fontFamily;
            color: #fbfbfb;
        }
    }

    &__social {
        display: flex;
        margin: 24px 0;
        a {
            display: inline-block;
            height: 32px;
            background-color: white;
            transition: 3s;

            &:not(:last-child) {
                margin-right: 12px;
            }
            :hover {
                background-color: $colorText;
                transform: scale(1.3);
                & > svg {
                    fill: white;
                }
            }
        }
        svg {
            fill: black;
        }
    }
}

/*_________________Catalog_______________*/

.banner__catalog {
    background-color: #f1e4e6;
    margin-bottom: 51px;
}
.under__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 148px;
    & h1 {
        color: $colorText;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 29px;
    }
    & nav {
        width: 209px;
        justify-content: space-between;
        display: flex;
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        & a {
            text-transform: uppercase;
            text-decoration: none;
            & > span {
                color: $colorText;
            }
        }
    }
}
.center__block {
    &_filters {
        align-items: center;
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 17px;
        display: flex;
    }
    .filter__left {
        margin-left: 24px;
        & > details {
            & > summary {
                margin-left: 16px;
                & svg {
                    margin-left: 11px;
                }
            }
            & details {
                &[open] {
                    color: $colorText;
                }
                border: none;
                color: black;
                margin: 16px 15px 24px 17px;
                & > summary {
                    width: 327px;
                    border-left: 5px solid $colorText;
                    border-bottom: 1px solid #ebebeb;
                    padding: 10px;
                }
                & > ul {
                    margin-top: 24px;
                    margin-left: 34px;
                    list-style-type: none;
                    & li {
                        margin-bottom: 11px;
                    }
                }
                & a {
                    text-decoration: none;
                }
                & [open] {
                    color: $colorText;
                }
            }
        }
        & details:first-child[open] {
            position: absolute;
            width: 350px;
            box-shadow: 4px 4px 8px 7px rgba(34, 60, 80, 0.2);
            background: white;
            z-index: 1;
            color: $colorText;
            padding-top: 13px;
            svg {
                fill: $colorText;
            }
        }
    }
    .filters__right {
        margin: 0 auto;
        display: flex;
        & details[open] {
            & div {
                margin-top: 5px;
                z-index: 1;
                position: absolute;
                padding-top: 5px;
                width: 79px;
                background-color: white;
                box-shadow: 4px 4px 8px 7px rgba(34, 60, 80, 0.2);
                & > details {
                    & > summary {
                        margin-bottom: 5px;
                        align-items: center;
                        justify-content: start;
                        display: flex;
                        & > input {
                            cursor: pointer;
                            margin-left: 9px;
                        }
                        & > label {
                            cursor: pointer;
                            margin-left: 9px;
                        }
                    }
                }
            }
        }
        & > details > summary {
            ::after {
                content: url(img/details_arow.svg);
                margin: 10px;
            }
        }
    }
    .switches {
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
        & a {
            text-decoration: none;
        }
    }
}

/*________________product______________*/

.product {
    &_page {
        align-items: center;
        display: flex;
        height: 777px;
        justify-content: space-between;
        background: #f7f7f7;
    }
    &_specification {
        width: 1141px;
        height: 601px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #eaeaea;
        margin-top: -30px;
        background: white;
        margin-bottom: 128px;

        & hr {
            width: 63px;
            height: 3px;
            background: $colorText;
            border: none;
            margin: 12px auto;
        }
        & hr:nth-of-type(2) {
            margin: 65px auto;
            width: 641px;
            background: #eaeaea;
            border: 1px solid #eaeaea;
        }
        & a {
            margin-top: 48px;
            display: flex;
            align-items: center;
            justify-content: start;
            font-family: $fontFamily;
            color: #f31212;
            border: 1px solid #ff6a6a;
            box-sizing: border-box;
            text-decoration: none;
            width: 211px;
            height: 43px;
            font-size: 16px;
            line-height: 19px;
        }
        & a::before {
            width: 26px;
            height: 24px;
            content: url(img/Cart_red.svg);
            margin-right: 14px;
            margin-left: 23px;
        }
    }
    &_title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        font-family: $fontFamily;
        color: $colorText;
    }
    &_name_inform {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 48px;
        color: #4d4d4d;
    }
    &_discription {
        text-align: center;
        max-width: 592px;
        margin-bottom: 32px;
    }
    &_price_red {
        color: $colorText;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }
    &_filters {
        @include flex__center();
        & > details {
            margin-left: 22px;
            & > summary {
                &::after {
                    content: url(img/details_arow.svg);
                    margin: 10px;
                }
            }
        }
    }

    // &_slide {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    // }
}

/*_______________cart________________*/
.center__cart {
    display: flex;
}
.product {
    &__cart {
        &:last-child {
            margin-top: 40px;
        }
        display: flex;
        width: 652px;
        height: 306px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        .item {
            overflow: hidden;
            img {
                width: 262px;
                height: 306px;
                transition: all 2s 0s ease-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        .close {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            position: relative;
            z-index: 1;
            margin-left: 67px;
            cursor: pointer;
            &:before {
                content: "+";
                color: #080808;
                position: absolute;
                z-index: 2;
                transform: rotate(45deg);
                font-size: 50px;
                line-height: 1;
                top: -5px;
                left: 6px;
                transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
                transform: scale(0.01);
            }
            &:hover:after {
                transform: scale(1);
            }
            &:hover:before {
                transform: scale(0.8) rotate(45deg);
                color: rgb(252, 7, 7);
            }
        }
    }
    &__text {
        & h2 {
            width: 262px;
            margin-left: 18px;
            margin-top: 25px;
            font-family: $fontFamily;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 42px;
        }

        & p {
            margin-top: 12px;
            margin-right: 28px;
            margin-left: 18px;
            font-family: $fontFamily;
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
        }
        & label {
            margin-top: 12px;
            display: inline-block;
            margin-left: 18px;
            font-family: $fontFamily;
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
        }
        & input {
            width: 43px;
            height: 24px;
            text-align: center;
            margin-left: 24px;
        }
        & span {
            font-family: $fontFamily;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #f16d7f;
        }
    }
}
.action {
    width: 360px;
    height: 272px;
    margin-left: 129px;

    & h4 {
        font-family: $fontFamily;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    & input {
        padding-left: 14px;
        margin: 20px 0;
        width: 360px;
        height: 45px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        font-family: $fontFamily;
        &::placeholder {
            color: #b1b1b1;
        }
    }
    & button {
        border: 1px solid #a4a4a4;
        width: 100px;
        height: 34px;
        padding: 10px 14px;
        box-sizing: border-box;
        font-family: $fontFamily;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
    }
}

.total {
    // @include flex__center();
    background: #f5f3f3;
    width: 360px;
    height: 214px;
    margin-top: 57px;
    & p {
        display: inline-block;
        margin: 39px 34px 12px 218px;
        font-size: 11px;
        line-height: 13px;
        font-family: $fontFamily;
        color: #4a4a4a;
        & > span {
            margin-left: 15px;
        }
    }
    & h4 {
        margin: 12px 34px 12px 153px;
        font-family: $fontFamily;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        & > span {
            margin-left: 15px;
        }
    }
    & hr {
        margin: 0 auto;
        border: none;
        width: 275px;
        height: 1px;
        background: #e2e2e2;
    }
    & button {
        @include flex__center();
        color: #ffffff;
        width: 273px;
        height: 50px;
        background: $colorText;
        margin: 17px auto;
    }
}
.button__cart {
    display: flex;
    & > button {
        width: 235px;
        height: 50px;
        background: #ffffff;
        color: #000000;
        margin-top: 72px;
        margin-right: 193px;
    }
    & > a {
        @include flex__center();
        color: #000000;
        text-decoration: none;
        width: 235px;
        height: 50px;
        background: #ffffff;
        margin-top: 72px;
        border: 1px solid #000;
    }
}
/*------------Registration---------*/
.center__reg {
    display: flex;
    .action__reg {
        width: 360px;
        margin-bottom: 96px;
        & input {
            padding-left: 14px;
            margin: 10px 0;
            width: 360px;
            height: 45px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            font-family: $fontFamily;
            &::placeholder {
                color: #b1b1b1;
            }
        }
        & p {
            margin-bottom: 20px;
            font-family: $fontFamily;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            &:not(:first-child) {
                margin-top: 35px;
            }
            &:last-of-type {
                color: #b1b1b1;
            }
        }
        .male__female {
            margin-top: 34px;
            display: flex;
            align-items: center;
            & input {
                all: revert;
                cursor: pointer;
                width: 17px;
                height: 17px;
                // &:not(:first-child) {
                //     margin-left: 20px;
                // }
                &:last-of-type {
                    margin-left: 20px;
                }
            }
            & label {
                cursor: pointer;
                margin-left: 10px;
            }
        }
        & button {
            border: none;
            width: 167px;
            height: 50px;
            padding: 10px 14px;
            box-sizing: border-box;
            font-family: $fontFamily;
            background: $colorText;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            &::after {
                content: "\2192";
                color: #ffffff;
                margin-left: 20px;
            }
        }
    }
    .info__reg {
        margin-left: 128px;
        margin-top: 64px;
        width: 652px;
        height: 334px;
        & p {
            font-family: $fontFamily;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            &:first-child {
                margin-bottom: 22px;
            }
        }
        & > div {
            & > p {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                &:first-child {
                    margin-bottom: 16px;
                    margin-top: 21px;
                }
                &::before {
                    content: "\2713";
                    margin-right: 23px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        .heading {
            .menu {
                &__nav {
                    right: -137px;
                    width: 172px;
                    top: 60px;
                }
            }
        }
    }
    .banner {
        .under__header {
            & h1 {
                max-width: 328px;
                font-size: 24px;
                & > b {
                    font-size: 44px;
                    font-weight: 800;

                    line-height: 29px;
                }
            }
        }
    }
    .card__box {
        &:not(:last-child) {
            background-size: 100%;
            height: 170px;
        }
    }
    .footer {
        flex-direction: column;
        &__box {
            margin-top: 48px;
            &:last-child {
                margin-bottom: 81px;
            }
        }
        &__center {
            flex-direction: column;
        }
        &__subscribe {
            p {
                width: 360px;
                font-size: 14px;
            }
            form {
                margin-top: 22px;
            }
        }
        &__bar {
            align-items: center;
        }
    }
}
@media (max-width: 600px) {
    .header {
        .heading {
            .right {
                & a {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }
    .banner {
        .under__header {
            background-image: none;

            & h1 {
                max-width: 343px;
                font-size: 21px;
                margin: 0;
                & > b {
                    font-size: 35px;
                }
            }
        }
    }

    .card__box {
        &:not(:last-child) {
            width: 100%;
            height: 260px;
        }
    }

    .footer {
        &__box {
            margin-top: 48px;
            &:last-child {
                margin-bottom: 81px;
            }
        }

        &__center {
            flex-direction: column;
        }
        &__subscribe {
            p {
                width: 360px;
                font-size: 14px;
            }
            form {
                margin-top: 22px;
            }
        }
        &__bar {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}

@media (min-width: 350px) and (max-width: 425px) {
    .header {
        padding: 7px 0;
        .heading {
            .menu {
                &__nav {
                    right: -42px;
                    width: 172px;
                    top: 49px;
                }
            }
        }
    }
    .center__block {
        .product__box {
            width: 292px;
            .item {
                img {
                    width: 292px;
                }
            }
        }
    }
    .card__box {
        &:not(:last-child) {
            width: 100%;
            height: 217px;
        }
    }

    .footer {
        &__right p {
            width: 280px;
        }
        &__subscribe {
            form {
                input {
                    width: 150px;
                }
            }
        }
    }
}
// @media (max-width: 1440px) {
//     .menu__nav {
//         right: -241px;
//     }
// }
